<div #musicContainer id="music-sheet"></div>
<div class="controls">
    <label for="note">Select Note:</label>
    <select id="note" (change)="onNoteChange($event)">
      <option value="c/4">C4</option>
      <option value="d/4">D4</option>
      <option value="e/4">E4</option>
      <option value="f/4">F4</option>
      <option value="g/4">G4</option>
      <option value="a/4">A4</option>
      <option value="b/4">B4</option>
    </select>

    <label for="durationNote">Select note duration:</label>
    <select id="durationNote" (change)="onDurationChange($event)">
      <option value="1">Whole</option>
      <option value="2">Half</option>
      <option value="4">Quarter</option>
      <option value="8">Eighth</option>
      <option value="16">Sixteenth</option>
    </select>

  <label for="durationRest">Select rest duration:</label>
  <select id="durationRest" (change)="onDurationChange($event)">
    <option value="1r">Whole</option>
    <option value="2r">Half</option>
    <option value="4r">Quarter</option>
    <option value="8r">Eighth</option>
    <option value="16r">Sixteenth</option>
  </select>

  <button id="renderButton" (click)="addNote()">Render Note</button><br>
  <label for="removeNote">Remove previous Note </label>
  <button id="removeNote" (click)="removePreviousNote()">Remove Note</button><br>

  <button id="callService" (click)="callService()">service</button><br>
  <button id="sendToService" (click)="sendToService()">toService</button>
</div>
